form-creator {
  width: 800px;
  display: block;
}

input-field-object > .form-element > .form-group, 
form > .form-element > .form-group {
  overflow-y: hidden;
  height: auto;
}

input-field-object > .form-element > .form-group.hidden,
form > .form-element > .form-group.hidden {
  overflow-y: hidden;
  max-height: 0px;
}

form-creator input, textarea {
border-radius: 5px;
}

form-creator label {
margin-right: 10px;
}

form-creator button {
border-radius: 10px;
}

.formular-title > * {
  text-align: center;
}

div.form-element {
  margin: 5px;
}

span.pflichtfeld {
  /* float: right; */
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 5px;
  vertical-align: bottom;
}

.form-list > *[name] {
  display: inline-block;
  width: 100%;
}

.form-list {
  display: grid;
  grid-template-columns: 95% 5%;
  border-radius: 5px;
}

input-field-list > .form-element {
  border-radius: 10px;
  border: 2px solid gray;
}

.form-list > button.form-list-removebtn {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 95%;
  background-color: rgba(200, 0, 0, 0.5);
  padding: 2px;
}

.form-list-addbtn {
  clear: both;
  position: relative;
  width: 99%;
  display: block;
  background-color: rgba(0, 200, 0, 0.5);
  box-sizing: content-box;
  padding: 2px;
}

input-field-object > .form-element {
  border: 1px solid darkgray;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px darkgray;
}

.form-object-collapse {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: small;
  margin-top: 0px;
  background-color: white;
  z-index: 1;
}

.clear-radio-btn {
  /* float: right; */
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: small;
  background-color: lightpink;
}

label {
  font-size: smaller;
}

.form-element > label {
  font-weight: bold;
  vertical-align: top;
}

form-creator > form {
  box-shadow: 2px 2px 10px 2px gray;
  border-radius: 10px;
}

input[type="text"],input[type="tel"], input[type="email"], input[type="date"], textarea {
  width: 60%;
  border: none;
  border: 1px solid gray;
  box-shadow: inset -2px -2px 5px 2px gray;
  vertical-align: middle;
}

input[type="text"],input[type="tel"], input[type="email"], input[type="date"]{
  height: 2em;
  padding: 3px;
}

textarea {
  padding: 5px;
}

button {
  border: none;
  background-color: cornflowerblue;
  margin: 2px;
  height: 2em;
  box-shadow: 1px 2px 5px 1px gray;
}

input[type="dropdown"] {
  border-radius: 10px;
}

select {
  border-radius: 5px;
  border: none;
  box-shadow: inset -2px -2px 2px 1px gray;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.03);
}

button.form-object-collapse {
  background-color: antiquewhite;
  height: 1.5em;
  margin: 1px;
}

.output-display {
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.03);
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
}

[pflichtfeld="true"] > label, [pflichtfeld="true"] > .form-element > label:first-of-type {
  font-style: italic;
  text-decoration-line: underline;
}

input-field-radio > .form-element {
  border: 2px solid gray;
  display: block;
  border-radius: 10px;
}

.invalid > div.form-element input, .invalid > div.form-element select, 
.invalid > div.form-element textarea{
  border: 1px solid #ff0b0bd8;
  box-shadow: inset 2px 2px 10px 1px #ff0b0bd8;
}

.invalid, .warning {
  position: relative;
  text-decoration: none;
}

.warning:not(.invalid):after {
  right: -700px;
  left: unset;
}

.invalid:hover:after, .warning:hover:after {
  bottom: 100%;
}

.invalid:hover:before, .warning:hover:before {
  bottom: 70%;
}

.invalid:hover:after, .invalid:before, .warning:hover:after, .warning:before {
  opacity: 1;
}

.form-element {
  position: relative;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.warning  > div.form-element {
  border: 1px solid #ffda0bd8;
  box-shadow: inset 2px 2px 10px 2px #ffda0bd8;
}

.warning:after {
  background: #ffda0b;
  color: black;
}

.warning:before {
  border-top: 20px solid #ffda0b2d;
}