form {
  width: 800px;
}

div.form-element {
  margin: 5px;
}

div.form-group {
  border: 1px solid lightgray;
}

span.pflichtfeld {
  float: right;
}

.form-list > *[name] {
  display: inline-block;
  width: 100%;
}

.form-list {
  display: grid;
  grid-template-columns: 95% 5%;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 1px lightgray;
}

.form-list > button.form-list-removebtn {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 95%;
  background-color: rgba(200, 0, 0, 0.5);
  border-radius: 5px;
  padding: 2px;
}

.form-list-addbtn {
  clear: both;
  position: relative;
  width: 99%;
  display: block;
  background-color: rgba(0, 200, 0, 0.5);
  box-sizing: content-box;
  border-radius: 10px;
  padding: 2px;
}

.form-element {
  border: 1px solid lightgray;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px 1px lightgray;
}

.form-element > label {
  font-weight: bold;
  vertical-align: top;
}

.form-list label {
  font-weight: normal;
}

.form-group {
  border-radius: 10px;
  box-shadow: 2px 2px 20px 1px lightgray;
}

.form-group label {
  font-weight: normal;
}

.form-group * label {
  font-weight: lighter;
}

label {
  margin-right: 10px;
}

.form-object-collapse {
    float: right;
    font-size: small;
    margin-top: -3px;
    border-radius: 10px;
}

.hidden {
    /* visibility: collapse; */
    display: none;
    height: 0;
}

input[type="textarea"] {
    height: 5em;
    width: 50%;
    word-wrap: break-word;
}